.nav-item{
    margin:5px;
    padding:2px;
}
/* .form-control{
    display: block;
    width: 50%;
} */
/* .navbar-nav{
    display: block;
    width: 100%;
} */
.nav-item{
    margin: 0px 20px;
    display: inline-block;
    width: max-content;
}
.input-group{
    margin-top: 5px;
}
.navbar-brand{
    text-align: center;
    align-items: center;
    width: 17%;
    display: block;
}
.section{
    display: block;
    width: auto;
    height: 44rem;
    background: url('../imggg/patrick-robert-doyle-AH8zKXqFITA-unsplash.jpg') no-repeat center center/cover;
    top:0;
    z-index:-1 ;
    
}
.hello{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    height: 90%;
}
.hello h1{
    margin-top: 15rem;;
    font-size: 3rem;
}
.main-button{
    margin-top: 3rem;
    width: 11%;
    height: 8%;
    font-size: 1.3rem;
}
.section2{
    display: flex;
    flex-direction: column;
}
.section2 h3{
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
}
.section2{
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.img-fluid {
    opacity: 1;
    display: flex;
    width: 100%;
    height: 70%;
    transition: .5s ease;
    backface-visibility: hidden;
    
}

.item2 p:hover {
    opacity: 1;
    transition: .5e ease;
    color: rgb(0, 0, 0);
    
}
.item3 p:hover {
    opacity: 1;
    transition: .5e ease;
    color: rgb(0, 0, 0);
}
.item4 p:hover{
    opacity: 1;
    transition: .5e ease;
    color: rgb(0, 0, 0);
}


.grid-container {

    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    width: 100%;
    height: 70%;
    /* justify-content: center; */
    align-items: center;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.item2 p{
    position: absolute;
    font-size: 1.3rem;
    width: 28%;
    opacity: 0;
}
.item3 p{
    position: absolute;
    font-size: 1.3rem;
    width: 28%;
    opacity: 0;
}
.item4 p{
    position: absolute;
    font-size: 1.3rem;
    width: 28%;
    opacity: 0;
}
.section4{
    
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    margin-top: 90px;

}
.main{
    margin-top: 50px;
}
.card{
    display: block;
    width: 40%;
    justify-content: center;
    /* align-items: center; */
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    margin-top: 30px;
    
  }
  
  .grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
  }
  .card-body{
    background-color:#698f97;
  }
  * {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    background-color: rgb(191, 191, 191);
    margin-bottom: 25px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}